<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Sixblueinc.com" value="https://gitlab.sixblueinc.com/api/v4/groups/38/-/packages/nuget/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <Sixblueinc.com>
      <add key="Username" value="public_nuget" /> <!--My gitlab username-->
      <add key="ClearTextPassword" value="ZHdYkCeRhhwVQ1DLH-qU" /> <!--My gitlab access key-->	  
    </Sixblueinc.com>	
  </packageSourceCredentials>
</configuration>
